body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.logo {
  height: 25px;
  width: 86px;
}

.product-title {
  font-weight: 300;
  font-size: 20px;
  color: #212529;
}

.gray-text {
  font-weight: 300;
  color: #707070;
}

.address {
  font-size: 13px;
}

.new-price {
  font-size: 20px;
  font-weight: 500;
  color: #28a745;
}

.form-title {
  color: white;
  font-size: 21px;
}

.bg-custom {
  background-color: #28a745;
}

.card-body {
  border: 0.5px solid #dddddd;
}
